@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* ซ่อน scrollbar Chrome, Safari, Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* ซ่อน scrollbar Firefox, Edge, IE */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}   
/* ให้ scrollbar ยังอยู่ แต่ไม่มีลูกศร */
.no-arrow::-webkit-scrollbar {
  width: 8px;
}

/* ตัวราง scrollbar */
.no-arrow::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 8px;
}

/* ตัวแท่ง scrollbar */
.no-arrow::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 8px;
}

/* hover ให้เห็นชัดขึ้น */
.no-arrow::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}


