.leftPanel {
  clip-path: polygon(0 0, 96% 0, 80% 100%, 0 100%);
  background-color: #e66a0a;
}

.leftPanelBg {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.08), rgba(0,0,0,0.08)), url('/DSC02078-2-scaled.jpg');
}

.mobileHeader {
  clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
}
